@model Kasimir.Core.Entities.ProductType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GrossPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrossPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Barcode)
        </dd>
        <dt>
            @Html.HiddenFor(model => model.RowVersion)
        </dt>
        <dd>
            @Html.HiddenFor(model => model.RowVersion)
        </dd>
        <dt>
            @Html.HiddenFor(model => model.Id)
        </dt>
        <dd>
            @Html.HiddenFor(model => model.Id)
        </dd>
        <dt>
            @Html.HiddenFor(model => model.Status)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.CheckBoxFor(model => model.IsActive, new { @disabled = "disabled" })
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
