@model Kasimir.Core.Entities.Stock

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.CheckBoxFor(model => model.IsActive, new { @disabled = "disabled" })
        </dd>
        <dt>
            @Html.HiddenFor(model => model.Id)
        </dt>
        <dd>
            @Html.HiddenFor(model => model.Id)
        </dd>
        <dt>
            @Html.HiddenFor(model => model.RowVersion)
        </dt>
        <dd>
            @Html.HiddenFor(model => model.RowVersion)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
